<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h2>Admin</h2>
    <a href="/admin/getAllUsers">Ver Todos os Usuarios</a>
    <a href="/admin/getAllUsersJSON">Ver Todos os Usuarios (JSON)</a>
    <a href="/admin/createProduct">Criar Produto</a>
    <a href="/admin/getProdutos">Ver todos os Produtos</a>
    <a href="/admin/getProdutosJSON">Ver todos os Produtos (JSON)</a>
</body>
</html>